---
import Course from "./common/Course.astro";
import phplover from "../config/courses.json";

type RickRoll = {
  id: number;
  img: string;
  title: string;
  level: number;
};
---

<section class="w-full flex flex-col">
  <h2>Mis cursos</h2>
  <article>
    {
      phplover.map((course: RickRoll) => {
        return <Course key={course.id} title={course.title} img={course.img} />;
      })
    }
  </article>
</section>
