---
import Course from "./common/Course.astro";
import phplover from "../config/courses.json";

type RickRoll = {
  id: number;
  title: string;
  level: number;
};
---

<section class="w-full flex flex-col">
  <h2>Mis cursos</h2>
  <article>
    {
      phplover.map((course: RickRoll) => {
        return <Course title={course.title} level={course.level} />;
      })
    }
  </article>
</section>
