---
import DesignLines from "../assets/designLines.svg";
import Asterisk from "../assets/asterisk.svg";
---

<h1 class="text-7xl relative text-center leading-[120%]">
  Aprende&nbsp;<span class="bg-cs-blue inline px-2 relative"
    >diseño<span class="absolute -top-6 -right-8 animate-line"
      ><DesignLines /></span
    >
  </span>&nbsp;y <br /><span class="bg-cs-orange inline text-white">
    &nbspdesarrollo web
  </span>
  &nbsp;a otro nivel
  <span class="absolute -bottom-16 -left-16 hover:animate-spin"
    ><Asterisk /></span
  >
</h1>
